html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    font-family: monospace;
}

#grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "title"
        "flex_container";
    
    animation: fade-in 1.5s ease-out;
}

#title {
    grid-area: title;
    justify-self: center;
    align-self: end;

    font-size: min(6.9vmax, 75px);
    white-space: nowrap;
    margin-bottom: 100px;
}

#flex-container {
    grid-area: flex_container;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#instruction-text {
    font-size: 15px;
    margin-bottom: 5px;
}

.buttons {
    margin: 5px;
    height: 50px;
    width: 125px;
    background-color: white;
    border: black solid;
    border-radius: 8px;

    font-family: monospace;
    font-size: 20px;

    transition: 0.1s;
}

.buttons:hover {
    background-color: lightslategrey;
}

.buttons:active {
    margin-top: 9px;
    margin-bottom: 9px;
    height: 42px;
}

#p1name, #p2name{
    margin: 5px;
    height: 35px;
    border: black solid;
    border-radius: 8px;
}

#marker-button-div, #player-names-div {
    display: none;
}

#player-names-div, #marker-button-div{
    flex-direction: column;
    align-items: center;
}

#board {
    display: none;

    height: 300px;
    width: 300px;
    margin-top: 100px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    grid-template-columns: 100px, 100px, 100px;
    grid-template-rows: 100px, 100px, 100px;
    grid-template-areas: 
        "square0 square1 square2"
        "square3 square4 square5"
        "square6 square7 square8"
}

#prompt-div {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-top: 30px;
    font-size: 20px;
}

.square {
    height: 90px;
    width: 90px;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightslategrey;
    color: white;
    font-size: 48pt;
}

#square0 { grid-area: square0; }

#square1 { grid-area: square1; } 

#square2 { grid-area: square2; }

#square3 { grid-area: square3; } 

#square4 { grid-area: square4; } 

#square5 { grid-area: square5; }

#square6 { grid-area: square6; } 

#square7 { grid-area: square7; } 

#square8 { grid-area: square8; } 

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 100;}
}

