html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    font-family: monospace;
}

#grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "title"
        "flex_container";
    
    animation: fade-in 1.5s ease-out;
}

#title-text {
    grid-area: title;
    justify-self: center;
    align-self: end;

    font-size: min(6.9vmax, 75px);
    white-space: nowrap;
    margin-bottom: 100px;
}

#flex-container {
    grid-area: flex_container;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#instruction-text {
    font-size: 15px;
    margin-bottom: 5px;
}

.buttons {
    margin: 5px;
    height: 50px;
    width: 125px;
    background-color: white;
    border: black solid;
    border-radius: 8px;

    font-family: monospace;
    font-size: 20px;

    transition: 0.1s;
}

.buttons:hover {
    background-color: lightslategrey;
}

.buttons:active {
    margin-top: 9px;
    margin-bottom: 9px;
    height: 42px;
}

#p1name, #p2name{
    margin: 5px;
    height: 35px;
    border: black solid;
    border-radius: 8px;
}

#marker-button-div, #player-names-div {
    display: none;
}

#player-names-div, #marker-button-div{
    flex-direction: column;
    align-items: center;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 100;}
}
