body {
    background-color: black;
}

#prompt_container {
    display: flex;
    margin: auto;
    justify-content: center;
}

#prompt {
    justify-content: center;
    color: white;
}

#button_container {
    display: none;
    margin: auto;
    justify-content: center;
}

form {
    display: none;
    text-align: center;
}

label {
    color: white;
}

#board {
    display: grid;
    height: 330px;
    width: 330px;
    margin: auto;

    grid-template-columns: 110px, 110px, 110px;
    grid-template-rows: 110px, 110px, 110px;
    grid-template-areas: 
        "square0 square1 square2"
        "square3 square4 square5"
        "square6 square7 square8";
}

.square {
    height: 100px;
    width: 100px;
    background-color: lightslategray;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 48pt;
}

#square0 {
    grid-area: square0;
}

#square1 {
    grid-area: square1;
} 

#square2 {
    grid-area: square2;
}

#square3 {
    grid-area: square3;
} 

#square4 {
    grid-area: square4;
} 

#square5 {
    grid-area: square5;
}

#square6 {
    grid-area: square6;
} 

#square7 {
    grid-area: square7;
} 

#square8 {
    grid-area: square8;
} 